TELEGRAM_TOKEN=<your telegram bot token>
ENCRYPTION_KEY=<your encryption key generated via src.generate_key.py>
AIRDROP_FARMER_DATABASE_URL=<your postgre database url>
COINPAYMENTS_API_KEY=<your coinpayments api public key>
COINPAYMENTS_API_SECRET=<your coinpayments api private key>
ADMIN_EMAIL=<your admin email>
COINPAYMENTS_MERCHANT_ID=<your coinpayments merchant id>
COINPAYMENTS_IPN_SECRET=<your coinpayments ipn secret>
SERVER_IP=<your server ip>
