# requirements.txt
tweepy>=3.10.0
discord.py
web3>=5.30.0
eth-account>=0.5.6
eth-abi>=2.1.1
beautifulsoup4>=4.10.0
requests>=2.27.1
aiogram==2.25.1
pyrogram
asyncpg
tenacity
eth-keys
cryptography
python-decouple
ecdsa
coinpayments-py
quart
hypercorn
hvac==1.1.0
fuzzywuzzy
dune_client==1.0.0
shortuuid
httpx