[Unit]
Description=Airdrop Farmer Service

[Service]
ExecStart=/home/airdropfarmer/AirdropFarmer/venv/bin/python /home/airdropfarmer/AirdropFarmer/main.py
WorkingDirectory=/home/airdropfarmer/AirdropFarmer
Environment="TELEGRAM_TOKEN=${TELEGRAM_TOKEN}"
Environment="ENCRYPTION_KEY=${ENCRYPTION_KEY}"
Environment="AIRDROP_FARMER_DATABASE_URL=${AIRDROP_FARMER_DATABASE_URL}"
Environment="COINPAYMENTS_PUBLIC_KEY=${COINPAYMENTS_PUBLIC_KEY}"
Environment="COINPAYMENTS_PRIVATE_KEY=${COINPAYMENTS_PRIVATE_KEY}"
Environment="COINPAYMENTS_MERCHANT_ID=${COINPAYMENTS_MERCHANT_ID}"
Environment="COINPAYMENTS_IPN_SECRET=${COINPAYMENTS_IPN_SECRET}"
Environment="ADMIN_EMAIL=${ADMIN_EMAIL}"
Environment="VAULT_URL=%VAULT_URL%"
Environment="VAULT_TOKEN=%VAULT_TOKEN%"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
